/*
Theme Name: Oculis
Description: Oculis is a child theme of most famous WordPress theme Enigma. It is modern and easy to use. It is fully responsive and multipurpose theme with the latest features. Oculis is the perfect theme for the professionals, bloggers and E-Commerce. It provides a clean and flexible design.
Author: weblizar
Author URI: http://www.weblizar.com
Template: enigma
Version: 1.8
Tested up to: 5.5
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, custom-menu, right-sidebar, custom-background, featured-image-header, sticky-post, theme-options, threaded-comments, featured-images, flexible-header, translation-ready , blog  , custom-logo , E-Commerce , footer-widgets , portfolio 
Text Domain: oculis
*/
.boxed  #enigma_nav_top.affix{
max-width: 1230px;
}

.swiper-slide.scrollimation.scale-in{
    padding: 10px;
}

.margin-60{
   height:60px;
}
.margin-40{
   height:40px;
}
.enigma_blog_thumb_wrapper {
    box-shadow: 0 0 14px rgba(185, 185, 185, 0.7)!important;
}
.service2 .enigma_service_area a, .enigma_footer_widget_area ul li a {
    color: #ffffff;
}
.service2 .enigma_service_detail h3 {
    margin-top: 10px;
}
.enigma-blog .swiper-button-prev.swiper-button-white, .enigma-blog .swiper-button-next.swiper-button-white {
    background-size: 40%;
    background-color: #e3ad31;
    border: 0;
}
.service2 .service .enigma_service_iocn i {
    color: #ffffff;
    font-size: 60px;
}
.service2 .enigma_service_area {
    text-align: center;
}
.service2 .enigma_service_iocn {
    display: block;
    margin: 0 auto!important;
    text-align: center;
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover {
    background-color: #e3ad31 !important;
    border: 2px solid #1ABC9C;
    color: #1ABC9C;
}
.service2 .service .enigma_service_iocn {
    border: 4px solid #1ABC9C;
    /* background-size: 100% 200%; */
    /* background-image: linear-gradient(to bottom, #1ABC9C 50%, #fff 50%); */
    border: 0;
    background: #e3ad31;
}
.service2 .enigma_service_area {
    margin-bottom: 65px;
    background-color: #f2f2f2;
    transition: all 0.4s ease 0s;
    padding: 20px;
    border-radius: 20px!important;
    /* border-right: 5px solid #ddd; */
    box-shadow: 16px 14px 33px #dcdcdc;
    border-bottom: 4px solid #dadadae3;
}
.enigma_service_area:hover .enigma_service_iocn {
    background-color: #f2f2f2 !important;
}



.blog2 .swiper-button-prev.swiper-button-white, .blog2  .swiper-button-next.swiper-button-white {
    background-size: 40%;
    background-color: #e3ad31;
    border: 0;
}
.blog2 .enigma_blog_thumb_wrapper {
    box-shadow: 0 0 14px rgba(185, 185, 185, 0.7)!important;
}
.blog2 .enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons a:hover {
    background-color: #1abc9c!important;
    border: 2px solid #1ABC9C;
    color: #1ABC9C;
}

.blog2  .enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a .fa {
    font-size: 26px;
    display: block;
    text-align: center;
    line-height: 49px;
}

.portfolio2 .enigma_home_portfolio_showcase_overlay:hover .enigma_home_portfolio_showcase_overlay_inner ,
.blog2 .enigma_blog_thumb_wrapper_showcase:hover .enigma_blog_thumb_wrapper_showcase_overlay_inner {
    visibility: visible;
    bottom: 0;
    left: 0;
    height: 100%;
    top: 0;
	z-index: 9;
}
.portfolio2 .enigma_home_portfolio_showcase_icons a ,
.blog2  .enigma_blog_thumb_wrapper_showcase_icons a  {
    display: block;
    border: 1px solid;
    width: 100px;
    border-radius: 100%;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    color: #dad5d5;
    text-align: center;
}
.portfolio2 .enigma_home_portfolio_showcase_icons a:before,
.blog2  .enigma_blog_thumb_wrapper_showcase_icons a:before {
    content: '';
    border: 5px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: #e3ad31 !important;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videomodule-anim linear infinite;
    animation: 1s videomodule-anim linear infinite;
}
.portfolio2 .enigma_home_portfolio_showcase_icons a:after ,
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a:after {
    content: '';
    border: 10px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: #e3ad31 !important;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videomodule-anim linear infinite;
    animation: 1s videomodule-anim linear infinite;
}
.portfolio2 .enigma_home_portfolio_showcase_icons  a ,
.blog2  .enigma_blog_thumb_wrapper_showcase_icons a {
	border: 1px solid #fff!important;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff!important;
    background: #0F7BFF;
    border-radius: 50%;
    line-height: 50px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    position: relative;
}
.swiper-container .enigma_blog_thumb_wrapper{
	padding:0;
}
.blog2 .enigma_blog_thumb_footer-cont {
    padding: 15px;
    padding-top:1px;
}

.swiper-container .enigma_tags a, .swiper-container .enigma_cats a {
    padding: 0px 4px;
    margin: 0;
    margin-bottom: 0px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    color: #515151;
    text-decoration: none;
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
	background: transparent;
}


@-webkit-keyframes videomodule-anim {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } 
	}
	

.portfolio2 .enigma_home_portfolio_showcase:hover .enigma_home_portfolio_showcase_overlay_inner {
    height: 100%!important;
}
.portfolio2 .enigma_home_portfolio_showcase_overlay_inner {
    position: static;
}
.portfolio2 .enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons a:hover {
    background-color: #e3ad31 !important;
}
.portfolio2 .enigma_home_portfolio_showcase .enigma_home_portfolio_showcase_icons{
    top: 30%;
    text-align: center;
    height: 100%;
    z-index: 9999;
    position: relative;
    width: 100%;
}

.blog2 .enigma_blog_thumb_wrapper_showcase{
   position:relative;
   overflow:hidden
}

.blog2 .enigma_blog_thumb_wrapper_showcase:before,.blog2 .enigma_blog_thumb_wrapper_showcase:after,
.portfolio2 .enigma_home_portfolio_showcase_overlay:before,.portfolio2 .enigma_home_portfolio_showcase_overlay:after{
   background:rgba(0,0,0,.3) none repeat scroll 0 0;
   content:"";
   height:0;
   opacity:1;
   -moz-opacity:1;
   -khtml-opacity:1;
   -webkit-opacity:1;
   position:absolute;
   width:0
}

.portfolio2 .enigma_home_portfolio_showcase_overlay:before,.portfolio2 .enigma_home_portfolio_showcase_overlay:after,
.blog2 .enigma_blog_thumb_wrapper_showcase:before,.blog2 .enigma_blog_thumb_wrapper_showcase:after{
   background:rgba(255,255,255,.4) none repeat scroll 0 0
}
.portfolio2 .enigma_home_portfolio_showcase_overlay:before,
.blog2 .enigma_blog_thumb_wrapper_showcase:before{
   right:0;
   bottom:0
}
.portfolio2 .enigma_home_portfolio_showcase_overlay:after,
.blog2 .enigma_blog_thumb_wrapper_showcase:after{
   left:0;
   top:0
}
.blog2 .enigma_blog_thumb_wrapper:hover .enigma_blog_thumb_wrapper_showcase:after,
.portfolio2 .img-wrapper:hover .enigma_home_portfolio_showcase_overlay:after,
.portfolio2 .img-wrapper:hover .enigma_home_portfolio_showcase_overlay:before,
.blog2 .enigma_blog_thumb_wrapper:hover .enigma_blog_thumb_wrapper_showcase:before{
   height:100%;
   opacity:0;
   -moz-opacity:0;
   -khtml-opacity:0;
   -webkit-opacity:0;
   transition-duration:1.3s;
   width:100%
}
.portfolio2 .enigma_home_portfolio_showcase_overlay{
	background: transparent!important;
}

/*--blog--*/
.blog2 .swiper-container .enigma_blog_thumb_wrapper h2 a {
    color: #1f1f1f;
    text-align: center;
    display: block;
}
.blog2 .swiper-container  .enigma_blog_thumb_date {
    text-align: center;
}
.blog2 .swiper-container .enigma_blog_thumb_date li i {
    margin-right: 8px;
    font-size: 15px;
    color: #a5a5a5;
}
.blog2 .swiper-container .enigma_blog_thumb_footer {
    padding-top: 6px;
    padding: 22px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
}
.blog2 .enigma_blog_thumb_wrapper p {
    font-size: 14px!important;
    padding-right: 8px!important;;

}


.scrollimation.fade-right {
    opacity: 1 !important;
	  -webkit-transform: none !important; 
    -moz-transform: none !important;
    -ms-transform:none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
.scrollimation.scale-in {
    opacity: 1 !important;
     -webkit-transform: none !important; 
    -moz-transform: none !important;
    -ms-transform:none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
.portfolio2 .enigma_home_portfolio_showcase_icons a
 {
   border: 1px solid;
   width: 50px;
   border-radius: 100%;
   height: 50px;
   margin: 0 auto;
   color: #dad5d5;
   text-align: center;
}



/*---blog---*/
.blog2 .enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a  .fa {
    font-size: 24px;
    display: block;
    text-align: center;
    line-height: 50px;
}
.blog2 .enigma_blog_thumb_wrapper_showcase:hover .enigma_blog_thumb_wrapper_showcase_overlay_inner {
    visibility: visible;
    bottom: 0;
    left: 0;
    height: 100%;
    top: 0;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a  {
    display: block;
    border: 1px solid;
    width: 100px;
    border-radius: 100%;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    color: #dad5d5;
    text-align: center;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a:before {
    content: '';
    border: 5px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: #e3ad31!important;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videomodule-anim linear infinite;
    animation: 1s videomodule-anim linear infinite;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a:after {
    content: '';
    border: 10px solid;
    border-color: inherit;
    width: 150%;
    height: 150%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-color: rgb(227, 173, 49)!important;
    position: absolute;
    left: -25%;
    top: -25%;
    opacity: 1;
    -webkit-animation: 1s videomodule-anim linear infinite;
    animation: 1s videomodule-anim linear infinite;
}
.blog2 .enigma_blog_thumb_wrapper_showcase_icons a {
	border: 1px solid #fff!important;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: #fff!important;
    background: #0F7BFF;
    border-radius: 50%;
    font-size: 30px;
    line-height: 50px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    position: relative;
}
.swiper-container .enigma_blog_thumb_wrapper{
	padding:0;
}
.enigma_blog_thumb_footer-cont {
    padding: 15px;
    padding-top:1px;
}
.swiper-container .enigma_tags a, .swiper-container .enigma_cats a {
    padding: 0px 4px;
    margin: 0;
    margin-bottom: 0px;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    color: #515151;
    text-decoration: none;
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
	background: transparent;
}
@-webkit-keyframes videomodule-anim {
  0% {
    -webkit-transform: scale(0.68);
    transform: scale(0.68); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } 
	}	
.blog2 .enigma_blog_thumb_wrapper_showcase{
   position:relative;
   overflow:hidden
}
.blog2 .enigma_blog_thumb_wrapper_showcase:before, .enigma_blog_thumb_wrapper_showcase:after{
   background:rgba(0,0,0,.3) none repeat scroll 0 0;
   content:"";
   height:0;
   opacity:1;
   -moz-opacity:1;
   -khtml-opacity:1;
   -webkit-opacity:1;
   position:absolute;
   width:0
}
.blog2 .enigma_blog_thumb_wrapper_showcase:before, .blog2 .enigma_blog_thumb_wrapper_showcase:after{
   background:rgba(255,255,255,.4) none repeat scroll 0 0
}
.blog2 .enigma_blog_thumb_wrapper_showcase:before, .blog2 .enigma_blog_thumb_wrapper_showcase:before{
   right:0;
   bottom:0
}
.blog2 .enigma_blog_thumb_wrapper:hover .enigma_blog_thumb_wrapper_showcase:before{
   height:100%;
   opacity:0;
   -moz-opacity:0;
   -khtml-opacity:0;
   -webkit-opacity:0;
   transition-duration:1.3s;
   width:100%
}
.blog2 .enigma_blog_thumb_wrapper .enigma_blog_thumb_wrapper_showcase:after{
   left:0;
   top:0
}
.blog2 .enigma_blog_thumb_wrapper:hover .enigma_blog_thumb_wrapper_showcase:after{
   height:100%;
   opacity:0;
   -moz-opacity:0;
   -khtml-opacity:0;
   -webkit-opacity:0;
   transition-duration:1.3s;
   width:100%
}
.enigma_blog_thumb_wrapper_showcase .enigma_blog_thumb_wrapper_showcase_icons:hover a {
    color: #fff !important;
}
.blog2 .enigma_blog_thumb_wrapper_showcase{
 /*  position: absolute;*/
   top: 0%;
   right: 30px;
   bottom: 0%;
   left: 0;
   right: 0;
   background: #66339900;
    display:block;
/*     text-align: left;
   transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   -moz-transform: translateY(-50%);
   -o-transform: translateY(-50%); */
}
/*--blog--*/
.swiper-container .enigma_blog_thumb_wrapper h2 a {
    color: #1f1f1f;
    text-align: center;
    display: block;
}
.swiper-container  .enigma_blog_thumb_date {
    text-align: center;
}
.swiper-container .enigma_blog_thumb_date li i {
    margin-right: 8px;
    font-size: 15px;
    color: #a5a5a5;
}
.swiper-container .enigma_blog_thumb_footer {
    padding-top: 6px;
    padding: 22px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
}
.enigma_blog_thumb_wrapper p {
    font-size: 14px!important;
    padding-right: 8px!important;;

}
.scrollimation.fade-right {
    opacity: 1 !important;
	  -webkit-transform: none !important; 
    -moz-transform: none !important;
    -ms-transform:none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
.scrollimation.scale-in {
    opacity: 1 !important;
     -webkit-transform: none !important; 
    -moz-transform: none !important;
    -ms-transform:none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}
/*--blog--*/
.enigma_send_button, #enigma_send_button {
    border-color: #e3ad31 !important;
    color: #6a6a6a;
}
.enigma_send_button:hover, #enigma_send_button:hover {
    background-position: 0 -100%;
    border: 2px solid #e3ad31 !important;
    color: #ffffff;
    background-color: #e3ad31 !important;
}
.enigma_tags a:hover, .enigma_cats a:hover {
    color: #fff;
    background-position: 0 -100%;
    background-color: #e3ad31 !important;
}
.enigma_fuul_blog_detail_padding .enigma_tags a, .enigma_fuul_blog_detail_padding .enigma_cats a {
    background-size: 100% 200%;
    background-color: #edf0f2;
    background-image: linear-gradient(to bottom, #edf0f2 50%, #e3ad31 50%);
}
.top-search-form .btn-search {
    background: #e3ad31 !important;
}
.social li:hover {
    border: 2px dotted #ffffff;
}
.social li {
    border-radius: 50%;
}
.social i {
    font-size: 15px;
}
@media (min-width: 1200px){
.swiper-container {
    width: 100%;
    height: 100%!important;
}
}
@media (max-width: 480px){
.swiper-container {
    width: 100%;
    height: 100%!important;
}
}
@media (max-width: 768px){
.swiper-container {
    height: 100%!important;
}
}



%transition_all_03s {
  transition: all 0.3s ease;
}
%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    right: 0;
    padding-left: 5%;
    color: #fff;
}

.swiper-main {
    display: -webkit-box;
}
.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    font-size: 20px;
    opacity: 1;
    padding: 7px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}
.swiper-slide .content .title {
    font-size: 4.6em;
    font-weight: bold;
    text-shadow: 2px 2px 21px #2b2727;
    background: #02020273;
    display: block;
    font-weight: bold;
    /* border-radius: 40px; */
    border-bottom: 3px solid #1abc9c;
    padding: 40px;
}
.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.swiper-slide .content .caption {
    display: block;
    font-size: 13px;
    line-height: 1.4;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}
.swiper-slide  img.entity-img {
    width: 100%;
}
.swiper-container {
  width: 100%;
  // display:inline-block;
  // vertical-align:top;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
  &.nav-slider {
    width: 20%;
    padding-left: 5px;
    .swiper-slide {
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.3s ease;
      &.swiper-slide-active {
        opacity: 1;
      }
      .content {
        width: 100%;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
}
.swiper-wrapper {
}
.swiper-slide {
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .entity-img {
    display: none;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.7s ease;
      &.show {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
.swiper-main .enigma_blog_read_btn {
    box-shadow: 2px 2px 21px #484545;
    border: 2px solid #1ABC9C;
    background-size: 100% 200%;
    background-image: none;
    margin-top: 20px;
    background: #1abc9c;
    border: 0;
}
.wl_rtl h1 {
    color: #fff;
}
@media(min-width:1200px){
	body.boxed {
    width: 1230px;
	box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5) ;
    -webkit-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
	-moz-box-shadow: 0 0 10px 0 rgba(48, 48, 48, 0.5);
    margin: 0 auto;
}
body.boxed #header .main-header {
	width:1230px;
	margin:0 auto;
}
.swiper-main .swiper-container {
  width: 100%;
  height: 850px;
}
.swiper-main .swiper-container {
  width: 100%;
  height: 610px;
}
.swiper-slide .content .caption.show{
	margin-top: 2px;
}
.enigma_blog_thumb_wrapper_showcase img {
    height: 310px;
}
.top-search-form {
    float: right;
    margin-right: 11%;
}
}

@media(max-width:1199px){
	.swiper-main .swiper-slide .content {
    top: 15%;
    width: 90%;
}
.swiper-main .swiper-slide .content .title {
    font-size: 1.8em;
    text-shadow: 2px 2px 21px #2b2727;
    padding: 22px;
}
.swiper-main .swiper-slide .content .caption.show {
    font-size: 16px;
}
.swiper-main .swiper-slide .content {
    padding-left: 0%; 
}
}
@media(max-width:768px){
.swiper-container {
  width: 100%;
  height: 350px;
}
.swiper-main .swiper-slide img.entity-img {
    width: 100%;
    height: 350px;
}
.swiper-main .swiper-slide .content {
    top: 10%;
    width: 90%;
}
.swiper-main .swiper-slide .content .title {
    font-size: 1.8em;
    text-shadow: 2px 2px 21px #2b2727;
    padding: 16px;
}
.swiper-main .swiper-slide .content .caption.show {
    font-size: 14px;
}
.swiper-main .swiper-slide .content {
    padding-left: 0%; 

}
.head-contact-info, .social, .logo {
    display: block;
    text-align: center; 
}
}

@media(max-width:480px){
.swiper-main .swiper-container {
  width: 100%;
  height: 250px;
}
.swiper-main .swiper-slide img.entity-img {
    width: 100%;
    height: 250px;
}
}

/* slider css */
%transition_all_03s {
  transition: all 0.3s ease;
}
%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.swiper-slide .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    right: 0;
    padding-left: 5%;
    color: #fff;
}

.swiper-main {
    display: -webkit-box;
}
.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    font-size: 20px;
    opacity: 1;
    padding: 7px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
}
.swiper-slide .content .title {
    font-size: 2.6em;
    font-weight: bold;
    text-shadow: 2px 2px 21px #2b2727;
    background: #02020273;
    display: block;
    font-weight: bold;
    /* border-radius: 40px; */
    border-bottom: 3px solid #e2ad31;
    padding: 40px;
}
.swiper-slide .content .caption.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}
.swiper-container:hover .swiper-button-prev, .swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}
.swiper-slide .content .caption {
    display: block;
    font-size: 18px;
    line-height: 1.4;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
    transition: opacity 0.3s ease, -webkit-transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease;
    transition: opacity 0.3s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}
.swiper-slide  img.entity-img {
    width: 100%;
}
.swiper-container {
  width: 100%;
  // display:inline-block;
  // vertical-align:top;
  float: left;
  transition: opacity 0.6s ease, transform 0.3s ease;
  &.nav-slider {
    width: 20%;
    padding-left: 5px;
    .swiper-slide {
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.3s ease;
      &.swiper-slide-active {
        opacity: 1;
      }
      .content {
        width: 100%;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
}
.swiper-wrapper {
}
.swiper-slide {
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .entity-img {
    display: none;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.7s ease;
      &.show {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
.swiper-main .enigma_blog_read_btn {
    border: 2px solid #1ABC9C;
    background-size: 100% 200%;
    background-image:none;
    margin-top: 20px;
}
@media(min-width:1200px){
.swiper-container {
  width: 100%;
  height: 850px;
}
.swiper-container {
  width: 100%;
  height: 610px;
}
}

@media(max-width:768px){
.swiper-container {
  width: 100%;
  height: 350px;
}
.swiper-slide img.entity-img {
    width: 100%;
    height: 350px;
}
}

@media(max-width:480px){
.swiper-container {
  width: 100%;
  height: 250px;
}
.swiper-slide img.entity-img {
    width: 100%;
    height: 250px;
}
}